APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sheba
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls


S3_KEY=
S3_SECRET=
S3_REGION=
S3_BUCKET=
S3_URL=

FB_APP_ENV=
FB_APP_ID_LOCAL=
FB_APP_ID_TEST=
FB_APP_ID_LIVE=
FB_APP_V=

ACK_APP_ID=
ACK_APP_SECRET=
ACK_TOKEN_EXCHANGE=
ACK_END_POINT=
ACK_APP_V=

PRT_APP_KEY=
PRT_APP_SECRET=
PRT_APP_PAYMENT_MODE=
PRT_APP_BASE_URL=
PRT_APP_PAYMENT_URL=