/vendor
.env
.idea/
/node_modules
npm-debug.log
build/config.gypi
resources/assets/ok-wallet/*
resources/assets/nagad/*
.composer/.htaccess
.composer/cache/.htaccess
.sentryclirc
composer-auth.json
results/phpunit/
.env.testing
.DS_Store
resources/assets/ebl/*
resources/assets/ebl/*
.composer/
