/vendor
.env
.idea/
/storage
/node_modules
npm-debug.log
সেবাতে
সেবা
সার্ভিস
যেকোনো
যেকোন
মানিব্যাগ
বন্ধুতে
বন্ধু
প্রোমোকোড
টপ-আপ
টপ-
কিভাবে
ওয়ালেট
এম্বাসেডর
এজেন্ট
একাউন্ট
এই
আমার
আপনি
আপনার
sheba_bondhu
service_refer
service_provider
reference_rejection
promo_code
money_bag
helpline
agent_ambassador
account_suspension
Your
You
Why
Whom
When
What
Wallet
The
Suspension
Sheba
Promo
In
How
General
Call
All
AGENT
